.bg-menu-color{
	background:black;
}
.theTitle{
    font-size: 26px;
    font-weight: 700;
}
.theTitle a{
	color: white;
	/*text-shadow:1px 1px 1px rgba(0,0,0,.5);*/
}
.theTitle a:hover{
	color:white;
	/*text-shadow:2px 2px 2px rgba(0,0,0,.5);*/
	text-decoration:none;
}
.navbar-nav a.nav-link {
	color: white !important;
	text-shadow:1px 1px 1px rgba(0,0,0,.5) !important;
}
#myTab{
	margin-bottom:20px;
}
.nav-tabs a.nav-link{
	color:#ff0000 !important;
	text-shadow:1px 1px 1px rgba(0,0,0,.5) !important;
}

.dropdown-menu.show{
	background-color: rgb(220, 207, 203) !important;
	border:0px !important;
}
.dropdown-item:hover{
	background-color: transparent !important;
	color: rgba(0,0,0,.5) !important;
	/*color: yellow !important;*/
}

nav button:focus{
	outline: 5px auto white !important;
}
nav {
	margin-bottom:15px;
}
.navbar{
	position: fixed;
	width: 100%;
}
.footer{
	background:black;
	text-align: center;
	/*position: fixed;
	bottom:0px;
	width: 100%;*/
}
.footer p{
	color:white;
	/*text-shadow:1px 1px 1px rgba(0,0,0,.5) !important;*/
	padding:15px 0px;
	margin-bottom:0px;
	margin-top: 30px;
}
.pageTitle{
	margin-bottom: 20px;
	border-bottom:solid 2px  rgba(142,108,98);
}
.pageTitle h2{
	/*color: #31708E;*/
	color: rgba(142,108,98);
	/*text-shadow:1px 1px 1px rgba(0,0,0,.5) !important;*/
}
.homeContent{
	margin-top:50px;
}
.homeContent h4{
	color: rgba(142,108,98);
}
@media(max-width: 500px){
	.home{
	margin-top:15px;
}
}
.imgWrap{
	margin-bottom: 15px;
}
.potentialTables table, .potentialTables td, .potentialTables tr {
	border:solid 1px;
}
table{
	margin-bottom:15px;
}
.quote{
	text-align: center;
}
small{
	color:red;
	text-shadow:1px 1px 1px rgba(0,0,0,.5) !important;
}
.appendixB table, .appendixB tr, .appendixB td{
	border:solid 1px;
}
.appendixB{
	margin-top: 30px;
}

/* Added from the original measles.css */
/* removed
body {
    margin: 10;
    align-content: left;
    text-align: center;
    overflow: hidden;
    font-family: monospace;
}*/

svg {
    font: 10px sans-serif;
	padding-bottom: 10px;
}

.caption {
    color: black;
    font-size: 15px;
    font-weight: normal;
    font-family: monospace;
}

.key path {
    display: none;
}

.key line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis {
    font: 10px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.axis .domain {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: round;
}

.axis .halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 8px;
    stroke-linecap: round;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: crosshair;
}

.dot {
  opacity: 0.65;
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

/*text {
    stroke: black;
    stroke-width: 0.5px;
    fill: #000000;
    font-size: .7em;
    font-family:sans-serif;
}*/

.label {
    fill: "black";
}

/*Add Tooltip Style here*/ 
rect:hover {
    fill: orange;
}

 #slider {
    padding-bottom: 5px;
    width: 550px;
}

/*div{
    padding-left: 150px;
}*/

.contentNote{
	margin-top:50px;
}
.contentNote h4{
	color: rgba(142,108,98);
}

.mapContent{
	text-align: center;
}
